
-- Run the following in the desired database. Modify it as needed for your system

CREATE TABLE [schema name].[naaccr_v25](  -- modify [schema name] for your schema
	[PATID] [varchar](18) NULL,
	[recordType] [char](1) NULL,
	[registryType] [char](1) NULL,
	[registryId] [varchar](10) NULL,
	[npiRegistryId] [varchar](10) NULL,
	[naaccrRecordVersion] [char](3) NULL,
	[patientIdNumber] [varchar](8) NULL,
	[race1] [char](2) NULL,
	[race2] [char](2) NULL,
	[race3] [char](2) NULL,
	[race4] [char](2) NULL,
	[race5] [char](2) NULL,
	[spanishHispanicOrigin] [char](1) NULL,
	[nhiaDerivedHispOrigin] [char](1) NULL,
	[ihsLink] [char](1) NULL,
	[raceNapiia] [char](2) NULL,
	[computedEthnicity] [char](1) NULL,
	[computedEthnicitySource] [char](1) NULL,
	[sex] [char](1) NULL,
	[dateOfBirth] [varchar](8) NULL,
	[birthplaceState] [char](2) NULL,
	[birthplaceCountry] [char](3) NULL,
	[dateOfLastContact] [varchar](8) NULL,
	[dateOfDeathCanada] [varchar](8) NULL,
	[vitalStatus] [char](1) NULL,
	[vitalStatusRecode] [char](1) NULL,
	[followUpSourceCentral] [char](2) NULL,
	[addrCurrentCity] [varchar](50) NULL,
	[addrCurrentState] [char](2) NULL,
	[addrCurrentPostalCode] [varchar](9) NULL,
	[addrCurrentCountry] [char](3) NULL,
	[countyCurrent] [char](3) NULL,
	[noPatientContactFlag] [char](1) NULL,
	[causeOfDeath] [char](4) NULL,
	[icdRevisionNumber] [char](1) NULL,
	[autopsy] [char](1) NULL,
	[placeOfDeathState] [char](2) NULL,
	[placeOfDeathCountry] [char](3) NULL,
	[overRideNameSex] [char](1) NULL,
	[nameLast] [varchar](40) NULL,
	[nameBirthSurname] [varchar](40) NULL,
	[nameFirst] [varchar](40) NULL,
	[nameMiddle] [varchar](40) NULL,
	[namePrefix] [char](3) NULL,
	[nameSuffix] [char](3) NULL,
	[nameAlias] [varchar](40) NULL,
	[medicareBeneficiaryIdentifier] [varchar](11) NULL,
	[socialSecurityNumber] [varchar](9) NULL,
	[addrCurrentNoStreet] [varchar](60) NULL,
	[addrCurrentSupplementl] [varchar](60) NULL,
	[telephone] [varchar](10) NULL,
	[dcStateFileNumber] [varchar](12) NULL,
	[ncdbSarsCov2Test] [char](1) NULL,
	[ncdbSarsCov2Pos] [char](1) NULL,
	[ncdbSarsCov2PosDate] [varchar](8) NULL,
	[followUpContactPhoneNumber] [varchar](20) NULL,
	[followUpContactRelationText] [varchar](30) NULL,
	[patientSystemIdHosp] [varchar](8) NULL,
	[tumorRecordNumber] [char](2) NULL,
	[addrAtDxCity] [varchar](50) NULL,
	[addrAtDxState] [char](2) NULL,
	[stateAtDxGeocode19708090] [char](2) NULL,
	[stateAtDxGeocode2000] [char](2) NULL,
	[stateAtDxGeocode2010] [char](2) NULL,
	[stateAtDxGeocode2020] [char](2) NULL,
	[geocodingQualityCode] [char](1) NULL,
	[geocodingQualityCodeDetail] [varchar](14) NULL,
	[countyAtDxAnalysis] [char](3) NULL,
	[countyAtDx] [char](3) NULL,
	[countyAtDxGeocode1990] [char](3) NULL,
	[countyAtDxGeocode2000] [char](3) NULL,
	[countyAtDxGeocode2010] [char](3) NULL,
	[countyAtDxGeocode2020] [char](3) NULL,
	[addrAtDxPostalCode] [varchar](9) NULL,
	[addrAtDxCountry] [char](3) NULL,
	[censusTract19708090] [varchar](6) NULL,
	[censusCodSys19708090] [char](1) NULL,
	[censusTract2020] [varchar](6) NULL,
	[censusTract2000] [varchar](6) NULL,
	[censusTract2010] [varchar](6) NULL,
	[censusTrPovertyIndictr] [char](1) NULL,
	[maritalStatusAtDx] [char](1) NULL,
	[ihsPurchRefCareDeliveryArea] [char](1) NULL,
	[ageAtDiagnosis] [char](3) NULL,
	[censusIndCode2010] [char](4) NULL,
	[censusOccCode2010] [char](4) NULL,
	[urbanIndianHealthOrganization] [char](1) NULL,
	[uihoFacility] [char](2) NULL,
	[occupationSource] [char](1) NULL,
	[industrySource] [char](1) NULL,
	[textUsualOccupation] [varchar](100) NULL,
	[textUsualIndustry] [varchar](100) NULL,
	[ruca2000] [char](1) NULL,
	[ruca2010] [char](1) NULL,
	[tobaccoUseSmokingStatus] [char](1) NULL,
	[uric2000] [char](1) NULL,
	[uric2010] [char](1) NULL,
	[censusBlockGroup2020] [char](1) NULL,
	[censusBlockGroup2000] [char](1) NULL,
	[censusBlockGroup2010] [char](1) NULL,
	[censusTrCert19708090] [char](1) NULL,
	[censusTrCertainty2000] [char](1) NULL,
	[gisCoordinateQuality] [char](2) NULL,
	[censusTrCertainty2010] [char](1) NULL,
	[censusBlockGrp197090] [char](1) NULL,
	[censusTractCertainty2020] [char](1) NULL,
	[sequenceNumberCentral] [char](2) NULL,
	[dateOfDiagnosis] [varchar](8) NULL,
	[primarySite] [char](4) NULL,
	[laterality] [char](1) NULL,
	[histologyIcdO2] [char](4) NULL,
	[behaviorIcdO2] [char](1) NULL,
	[grade] [char](1) NULL,
	[gradePathValue] [char](1) NULL,
	[ambiguousTerminologyDx] [char](1) NULL,
	[dateConclusiveDx] [varchar](8) NULL,
	[multTumRptAsOnePrim] [char](2) NULL,
	[dateOfMultTumors] [varchar](8) NULL,
	[multiplicityCounter] [char](2) NULL,
	[gradePathSystem] [char](1) NULL,
	[siteCodingSysCurrent] [char](1) NULL,
	[siteCodingSysOriginal] [char](1) NULL,
	[morphCodingSysCurrent] [char](1) NULL,
	[morphCodingSysOriginl] [char](1) NULL,
	[diagnosticConfirmation] [char](1) NULL,
	[typeOfReportingSource] [char](1) NULL,
	[casefindingSource] [char](2) NULL,
	[histologicTypeIcdO3] [char](4) NULL,
	[behaviorCodeIcdO3] [char](1) NULL,
	[edpMdeLinkDate] [varchar](8) NULL,
	[edpMdeLink] [char](1) NULL,
	[reportingFacility] [varchar](10) NULL,
	[npiReportingFacility] [varchar](10) NULL,
	[accessionNumberHosp] [varchar](9) NULL,
	[sequenceNumberHospital] [char](2) NULL,
	[abstractedBy] [char](3) NULL,
	[dateOf1stContact] [varchar](8) NULL,
	[dateOfInptAdm] [varchar](8) NULL,
	[dateOfInptDisch] [varchar](8) NULL,
	[classOfCase] [char](2) NULL,
	[primaryPayerAtDx] [char](2) NULL,
	[rxHospSurgApp2010] [char](1) NULL,
	[rxHospSurgPrimSite] [char](2) NULL,
	[rxHospSurgPrimSite2023] [char](4) NULL,
	[rxHospScopeRegLnSur] [char](1) NULL,
	[rxHospSurgOthRegDis] [char](1) NULL,
	[rxHospRegLnRemoved] [char](2) NULL,
	[dateRegionalLNDissection] [varchar](8) NULL,
	[rxHospRadiation] [char](1) NULL,
	[rxHospChemo] [char](2) NULL,
	[rxHospHormone] [char](2) NULL,
	[rxHospBrm] [char](2) NULL,
	[rxHospOther] [char](1) NULL,
	[rxHospDxStgProc] [char](2) NULL,
	[rxHospSurgSite9802] [char](2) NULL,
	[rxHospScopeReg9802] [char](1) NULL,
	[rxHospSurgOth9802] [char](1) NULL,
	[rxHospReconBreast] [char](4) NULL,
	[tumorSizeClinical] [char](3) NULL,
	[tumorSizePathologic] [char](3) NULL,
	[tumorSizeSummary] [char](3) NULL,
	[seerSummaryStage2000] [char](1) NULL,
	[seerSummaryStage1977] [char](1) NULL,
	[derivedSummaryStage2018] [char](1) NULL,
	[summaryStage2018] [char](1) NULL,
	[eodPrimaryTumor] [char](3) NULL,
	[eodRegionalNodes] [char](3) NULL,
	[eodMets] [char](2) NULL,
	[eodTumorSize] [char](3) NULL,
	[derivedEod2018T] [varchar](15) NULL,
	[eodExtension] [char](2) NULL,
	[derivedEod2018M] [varchar](15) NULL,
	[eodExtensionProstPath] [char](2) NULL,
	[eodLymphNodeInvolv] [char](1) NULL,
	[derivedEod2018N] [varchar](15) NULL,
	[derivedEod2018StageGroup] [varchar](15) NULL,
	[regionalNodesPositive] [char](2) NULL,
	[regionalNodesExamined] [char](2) NULL,
	[dateSentinelLymphNodeBiopsy] [varchar](8) NULL,
	[sentinelLymphNodesExamined] [char](2) NULL,
	[sentinelLymphNodesPositive] [char](2) NULL,
	[eodOld13Digit] [varchar](13) NULL,
	[eodOld2Digit] [char](2) NULL,
	[eodOld4Digit] [char](4) NULL,
	[codingSystemForEod] [char](1) NULL,
	[tnmPathT] [char](4) NULL,
	[tnmPathN] [char](4) NULL,
	[tnmPathM] [char](4) NULL,
	[tnmPathStageGroup] [char](4) NULL,
	[tnmPathDescriptor] [char](1) NULL,
	[tnmPathStagedBy] [char](2) NULL,
	[tnmClinT] [char](4) NULL,
	[tnmClinN] [char](4) NULL,
	[tnmClinM] [char](4) NULL,
	[tnmClinStageGroup] [char](4) NULL,
	[tnmClinDescriptor] [char](1) NULL,
	[tnmClinStagedBy] [char](2) NULL,
	[ajccId] [char](4) NULL,
	[ajccTnmClinT] [varchar](15) NULL,
	[ajccTnmClinN] [varchar](15) NULL,
	[ajccTnmClinM] [varchar](15) NULL,
	[ajccTnmClinStageGroup] [varchar](15) NULL,
	[ajccTnmPathT] [varchar](15) NULL,
	[ajccTnmPathN] [varchar](15) NULL,
	[ajccTnmPathM] [varchar](15) NULL,
	[ajccTnmPathStageGroup] [varchar](15) NULL,
	[ajccTnmPostTherapyT] [varchar](15) NULL,
	[ajccTnmPostTherapyN] [varchar](15) NULL,
	[ajccTnmPostTherapyM] [varchar](15) NULL,
	[ajccTnmPostTherapyStageGroup] [varchar](15) NULL,
	[ajccTnmClinTSuffix] [char](4) NULL,
	[ajccTnmPathTSuffix] [char](4) NULL,
	[ajccTnmPostTherapyTSuffix] [char](4) NULL,
	[ajccTnmClinNSuffix] [char](4) NULL,
	[ajccTnmPathNSuffix] [char](4) NULL,
	[ajccTnmPostTherapyNSuffix] [char](4) NULL,
	[tnmEditionNumber] [char](2) NULL,
	[ajccTnmPostTherapyClinT] [varchar](15) NULL,
	[ajccTnmPostTherapyClinTSuffix] [char](4) NULL,
	[ajccTnmPostTherapyClinN] [varchar](15) NULL,
	[ajccTnmPostTherapyClinNSuffix] [char](4) NULL,
	[ajccTnmPostTherapyClinM] [varchar](15) NULL,
	[ajccTnmPostTherapyClinStageGrp] [varchar](15) NULL,
	[gradePostTherapyClin] [char](1) NULL,
	[metsAtDxBone] [char](1) NULL,
	[metsAtDxBrain] [char](1) NULL,
	[metsAtDxDistantLn] [char](1) NULL,
	[metsAtDxLiver] [char](1) NULL,
	[metsAtDxLung] [char](1) NULL,
	[metsAtDxOther] [char](1) NULL,
	[pediatricStage] [char](2) NULL,
	[pediatricStagingSystem] [char](2) NULL,
	[pediatricId] [char](5) NULL,
	[pediatricIdVersionCurrent] [char](5) NULL,
	[pediatricIdVersionOriginal] [char](5) NULL,
	[torontoVersionNumber] [char](1) NULL,
	[pediatricPrimaryTumor] [char](3) NULL,
	[pediatricRegionalNodes] [char](3) NULL,
	[pediatricMets] [char](2) NULL,
	[pediatricStagedBy] [char](1) NULL,
	[derivedPediatricT] [char](3) NULL,
	[derivedPediatricN] [char](3) NULL,
	[derivedPediatricM] [char](3) NULL,
	[derivedPediatricStageGroup] [char](3) NULL,
	[torontoT] [char](3) NULL,
	[torontoN] [char](3) NULL,
	[torontoM] [char](3) NULL,
	[torontoStageGroup] [char](3) NULL,
	[tumorMarker1] [char](1) NULL,
	[tumorMarker2] [char](1) NULL,
	[tumorMarker3] [char](1) NULL,
	[ptld] [char](1) NULL,
	[pdl1] [char](5) NULL,
	[lymphVascularInvasion] [char](1) NULL,
	[whiteBloodCellCount] [varchar](7) NULL,
	[inrgss] [char](1) NULL,
	[nMycAmplification] [char](1) NULL,
	[inpc] [char](1) NULL,
	[irssStageForEye2] [char](1) NULL,
	[chromosome16qLossHeterozygosity] [char](1) NULL,
	[chromosome1qStatus] [char](1) NULL,
	[ewsr1Fli1Fusion] [char](1) NULL,
	[pretextClinicalStaging] [char](1) NULL,
	[foxo1GeneRearrangements] [char](1) NULL,
	[rxDateSurgery] [varchar](8) NULL,
	[rxDateRadiation] [varchar](8) NULL,
	[rxDateChemo] [varchar](8) NULL,
	[rxDateHormone] [varchar](8) NULL,
	[rxDateBrm] [varchar](8) NULL,
	[rxDateOther] [varchar](8) NULL,
	[dateInitialRxSeer] [varchar](8) NULL,
	[date1stCrsRxCoc] [varchar](8) NULL,
	[rxDateDxStgProc] [varchar](8) NULL,
	[rxSummTreatmentStatus] [char](1) NULL,
	[rxSummSurgPrimSite] [char](2) NULL,
	[rxSummSurgPrimSite2023] [char](4) NULL,
	[rxSummScopeRegLnSur] [char](1) NULL,
	[rxSummSurgOthRegDis] [char](1) NULL,
	[rxSummRegLnExamined] [char](2) NULL,
	[rxSummSurgicalApproch] [char](1) NULL,
	[rxSummSurgicalMargins] [char](1) NULL,
	[rxSummReconstruct1st] [char](1) NULL,
	[rxSummReconBreast] [char](4) NULL,
	[reasonForNoSurgery] [char](1) NULL,
	[rxSummDxStgProc] [char](2) NULL,
	[rxSummRadiation] [char](1) NULL,
	[rxSummRadToCns] [char](1) NULL,
	[rxSummSurgRadSeq] [char](1) NULL,
	[rxSummChemo] [char](2) NULL,
	[rxSummHormone] [char](2) NULL,
	[rxSummBrm] [char](2) NULL,
	[rxSummOther] [char](1) NULL,
	[reasonForNoRadiation] [char](1) NULL,
	[rxCodingSystemCurrent] [char](2) NULL,
	[phase1DosePerFraction] [char](5) NULL,
	[phase1RadiationExternalBeamTech] [char](2) NULL,
	[phase1NumberOfFractions] [char](3) NULL,
	[phase1RadiationPrimaryTxVolume] [char](2) NULL,
	[phase1RadiationToDrainingLN] [char](2) NULL,
	[phase1RadiationTreatmentModality] [char](2) NULL,
	[phase1TotalDose] [varchar](6) NULL,
	[phase2DosePerFraction] [char](5) NULL,
	[phase2RadiationExternalBeamTech] [char](2) NULL,
	[phase2NumberOfFractions] [char](3) NULL,
	[phase2RadiationPrimaryTxVolume] [char](2) NULL,
	[phase2RadiationToDrainingLN] [char](2) NULL,
	[phase2RadiationTreatmentModality] [char](2) NULL,
	[phase2TotalDose] [varchar](6) NULL,
	[phase3DosePerFraction] [char](5) NULL,
	[phase3RadiationExternalBeamTech] [char](2) NULL,
	[phase3NumberOfFractions] [char](3) NULL,
	[phase3RadiationPrimaryTxVolume] [char](2) NULL,
	[phase3RadiationToDrainingLN] [char](2) NULL,
	[phase3RadiationTreatmentModality] [char](2) NULL,
	[phase3TotalDose] [varchar](6) NULL,
	[radiationTxDiscontinuedEarly] [char](2) NULL,
	[numberPhasesOfRadTxToVolume] [char](2) NULL,
	[totalDose] [varchar](6) NULL,
	[radLocationOfRx] [char](1) NULL,
	[radRegionalRxModality] [char](2) NULL,
	[neoadjuvantTherapy] [char](1) NULL,
	[neoadjuvTherapyClinicalResponse] [char](1) NULL,
	[neoadjuvTherapyTreatmentEffect] [char](1) NULL,
	[rxSummSystemicSurSeq] [char](1) NULL,
	[rxSummSurgeryType] [char](2) NULL,
	[rxSummSurgSite9802] [char](2) NULL,
	[rxSummScopeReg9802] [char](1) NULL,
	[rxSummSurgOth9802] [char](1) NULL,
	[subsqRx2ndCourseDate] [varchar](8) NULL,
	[subsqRx2ndCourseSurg] [char](2) NULL,
	[subsqRx2ndCourseRad] [char](1) NULL,
	[subsqRx2ndCourseChemo] [char](1) NULL,
	[subsqRx2ndCourseHorm] [char](1) NULL,
	[subsqRx2ndCourseBrm] [char](1) NULL,
	[subsqRx2ndCourseOth] [char](1) NULL,
	[subsqRx2ndScopeLnSu] [char](1) NULL,
	[subsqRx2ndSurgOth] [char](1) NULL,
	[subsqRx2ndRegLnRem] [char](2) NULL,
	[subsqRx3rdCourseDate] [varchar](8) NULL,
	[subsqRx3rdCourseSurg] [char](2) NULL,
	[subsqRx3rdCourseRad] [char](1) NULL,
	[subsqRx3rdCourseChemo] [char](1) NULL,
	[subsqRx3rdCourseHorm] [char](1) NULL,
	[subsqRx3rdCourseBrm] [char](1) NULL,
	[subsqRx3rdCourseOth] [char](1) NULL,
	[subsqRx3rdScopeLnSu] [char](1) NULL,
	[subsqRx3rdSurgOth] [char](1) NULL,
	[subsqRx3rdRegLnRem] [char](2) NULL,
	[subsqRx4thCourseDate] [varchar](8) NULL,
	[subsqRx4thCourseSurg] [char](2) NULL,
	[subsqRx4thCourseRad] [char](1) NULL,
	[subsqRx4thCourseChemo] [char](1) NULL,
	[subsqRx4thCourseHorm] [char](1) NULL,
	[subsqRx4thCourseBrm] [char](1) NULL,
	[subsqRx4thCourseOth] [char](1) NULL,
	[subsqRx4thScopeLnSu] [char](1) NULL,
	[subsqRx4thSurgOth] [char](1) NULL,
	[subsqRx4thRegLnRem] [char](2) NULL,
	[cancerStatus] [char](1) NULL,
	[dateOfLastCancerStatus] [varchar](8) NULL,
	[recordNumberRecode] [char](2) NULL,
	[survDateActiveFollowup] [varchar](8) NULL,
	[survFlagActiveFollowup] [char](1) NULL,
	[survMosActiveFollowup] [char](4) NULL,
	[survDatePresumedAlive] [varchar](8) NULL,
	[survFlagPresumedAlive] [char](1) NULL,
	[survMosPresumedAlive] [char](4) NULL,
	[survDateDxRecode] [varchar](8) NULL,
	[followUpSource] [char](1) NULL,
	[nextFollowUpSource] [char](1) NULL,
	[followUpContactCity] [varchar](50) NULL,
	[followUpContactState] [char](2) NULL,
	[followUpContactPostal] [varchar](9) NULL,
	[followupContactCountry] [char](3) NULL,
	[unusualFollowUpMethod] [char](2) NULL,
	[reportingFacilityRestrictionFlag] [char](2) NULL,
	[recurrenceDate1st] [varchar](8) NULL,
	[recurrenceType1st] [char](2) NULL,
	[seerCauseSpecificCod] [char](1) NULL,
	[seerOtherCod] [char](1) NULL,
	[siteIcdO1] [char](4) NULL,
	[histologyIcdO1] [char](4) NULL,
	[behaviorIcdO1] [char](1) NULL,
	[gradeIcdO1] [char](1) NULL,
	[derivedSummaryGrade2018] [char](1) NULL,
	[overRideSsNodespos] [char](1) NULL,
	[overRideSsTnmN] [char](1) NULL,
	[overRideSsTnmM] [char](1) NULL,
	[overRideAcsnClassSeq] [char](1) NULL,
	[overRideHospseqDxconf] [char](1) NULL,
	[overRideCocSiteType] [char](1) NULL,
	[overRideHospseqSite] [char](1) NULL,
	[overRideSiteTnmStggrp] [char](1) NULL,
	[overRideAgeSiteMorph] [char](1) NULL,
	[overRideTnmStage] [char](1) NULL,
	[overRideTnmTis] [char](1) NULL,
	[overRideTnm3] [char](1) NULL,
	[overRideSeqnoDxconf] [char](1) NULL,
	[overRideSiteLatSeqno] [char](1) NULL,
	[overRideSurgDxconf] [char](1) NULL,
	[overRideSiteType] [char](1) NULL,
	[overRideHistology] [char](1) NULL,
	[overRideReportSource] [char](1) NULL,
	[overRideIllDefineSite] [char](1) NULL,
	[overRideLeukLymphoma] [char](1) NULL,
	[overRideSiteBehavior] [char](1) NULL,
	[overRideSiteEodDxDt] [char](1) NULL,
	[overRideSiteLatEod] [char](1) NULL,
	[overRideSiteLatMorph] [char](1) NULL,
	[dateCaseInitiated] [varchar](8) NULL,
	[dateCaseCompleted] [varchar](8) NULL,
	[dateCaseCompletedCoc] [varchar](8) NULL,
	[dateCaseLastChanged] [varchar](8) NULL,
	[dateCaseReportExported] [varchar](8) NULL,
	[dateCaseReportReceived] [varchar](8) NULL,
	[dateCaseReportLoaded] [varchar](8) NULL,
	[dateTumorRecordAvailbl] [varchar](8) NULL,
	[icdO3ConversionFlag] [char](1) NULL,
	[schemaIdVersionCurrent] [char](5) NULL,
	[schemaIdVersionOriginal] [char](5) NULL,
	[cocCodingSysCurrent] [char](2) NULL,
	[cocCodingSysOriginal] [char](2) NULL,
	[cocAccreditedFlag] [char](1) NULL,
	[ajccApiVersionCurrent] [varchar](8) NULL,
	[ajccApiVersionOriginal] [varchar](8) NULL,
	[ajccCancerSurvApiVersionCurrent] [varchar](13) NULL,
	[ajccCancerSurvApiVersionOriginal] [varchar](13) NULL,
	[vendorName] [varchar](10) NULL,
	[nameSpouseParent] [varchar](60) NULL,
	[medicalRecordNumber] [varchar](15) NULL,
	[addrAtDxNoStreet] [varchar](60) NULL,
	[addrAtDxSupplementl] [varchar](60) NULL,
	[latitude] [varchar](10) NULL,
	[longitude] [varchar](11) NULL,
	[followUpContactNost] [varchar](60) NULL,
	[followUpContactSuppl] [varchar](60) NULL,
	[followUpContactName] [varchar](60) NULL,
	[institutionReferredFrom] [varchar](10) NULL,
	[npiInstReferredFrom] [varchar](10) NULL,
	[institutionReferredTo] [varchar](10) NULL,
	[npiInstReferredTo] [varchar](10) NULL,
	[followingRegistry] [varchar](10) NULL,
	[npiFollowingRegistry] [varchar](10) NULL,
	[physicianManaging] [varchar](8) NULL,
	[npiPhysicianManaging] [varchar](10) NULL,
	[physicianFollowUp] [varchar](8) NULL,
	[npiPhysicianFollowUp] [varchar](10) NULL,
	[physicianPrimarySurg] [varchar](8) NULL,
	[npiPhysicianPrimarySurg] [varchar](10) NULL,
	[physician3] [varchar](8) NULL,
	[npiPhysician3] [varchar](10) NULL,
	[physician4] [varchar](8) NULL,
	[npiPhysician4] [varchar](10) NULL,
	[ehrReporting] [varchar](4000) NULL,
	[textDxProcPe] [varchar](4000) NULL,
	[textDxProcXRayScan] [varchar](4000) NULL,
	[textDxProcScopes] [varchar](4000) NULL,
	[textDxProcLabTests] [varchar](4000) NULL,
	[textDxProcOp] [varchar](4000) NULL,
	[textDxProcPath] [varchar](4000) NULL,
	[textPrimarySiteTitle] [varchar](100) NULL,
	[textHistologyTitle] [varchar](100) NULL,
	[textStaging] [varchar](4000) NULL,
	[rxTextSurgery] [varchar](4000) NULL,
	[rxTextRadiation] [varchar](4000) NULL,
	[rxTextRadiationOther] [varchar](4000) NULL,
	[rxTextChemo] [varchar](4000) NULL,
	[rxTextHormone] [varchar](4000) NULL,
	[rxTextBrm] [varchar](4000) NULL,
	[rxTextOther] [varchar](4000) NULL,
	[textRemarks] [varchar](4000) NULL,
	[textPlaceOfDiagnosis] [varchar](60) NULL,
	[csTumorSize] [char](3) NULL,
	[csExtension] [char](3) NULL,
	[csTumorSizeExtEval] [char](1) NULL,
	[csLymphNodes] [char](3) NULL,
	[csLymphNodesEval] [char](1) NULL,
	[csMetsAtDx] [char](2) NULL,
	[csMetsAtDxBone] [char](1) NULL,
	[csMetsAtDxBrain] [char](1) NULL,
	[csMetsAtDxLiver] [char](1) NULL,
	[csMetsAtDxLung] [char](1) NULL,
	[csMetsEval] [char](1) NULL,
	[csSiteSpecificFactor7] [char](3) NULL,
	[csSiteSpecificFactor8] [char](3) NULL,
	[csSiteSpecificFactor9] [char](3) NULL,
	[csSiteSpecificFactor10] [char](3) NULL,
	[csSiteSpecificFactor11] [char](3) NULL,
	[csSiteSpecificFactor12] [char](3) NULL,
	[csSiteSpecificFactor13] [char](3) NULL,
	[csSiteSpecificFactor14] [char](3) NULL,
	[csSiteSpecificFactor15] [char](3) NULL,
	[csSiteSpecificFactor16] [char](3) NULL,
	[csSiteSpecificFactor17] [char](3) NULL,
	[csSiteSpecificFactor18] [char](3) NULL,
	[csSiteSpecificFactor19] [char](3) NULL,
	[csSiteSpecificFactor20] [char](3) NULL,
	[csSiteSpecificFactor21] [char](3) NULL,
	[csSiteSpecificFactor22] [char](3) NULL,
	[csSiteSpecificFactor23] [char](3) NULL,
	[csSiteSpecificFactor24] [char](3) NULL,
	[csSiteSpecificFactor25] [char](3) NULL,
	[csSiteSpecificFactor1] [char](3) NULL,
	[csSiteSpecificFactor2] [char](3) NULL,
	[csSiteSpecificFactor3] [char](3) NULL,
	[csSiteSpecificFactor4] [char](3) NULL,
	[csSiteSpecificFactor5] [char](3) NULL,
	[csSiteSpecificFactor6] [char](3) NULL,
	[csVersionInputOriginal] [varchar](6) NULL,
	[csVersionDerived] [varchar](6) NULL,
	[csVersionInputCurrent] [varchar](6) NULL,
	[derivedAjcc6T] [char](2) NULL,
	[derivedAjcc6TDescript] [char](1) NULL,
	[derivedAjcc6N] [char](2) NULL,
	[derivedAjcc6NDescript] [char](1) NULL,
	[derivedAjcc6M] [char](2) NULL,
	[derivedAjcc6MDescript] [char](1) NULL,
	[derivedAjcc6StageGrp] [char](2) NULL,
	[derivedSs1977] [char](1) NULL,
	[derivedSs2000] [char](1) NULL,
	[derivedAjccFlag] [char](1) NULL,
	[derivedSs1977Flag] [char](1) NULL,
	[derivedSs2000Flag] [char](1) NULL,
	[archiveFin] [varchar](10) NULL,
	[npiArchiveFin] [varchar](10) NULL,
	[comorbidComplication1] [char](5) NULL,
	[comorbidComplication2] [char](5) NULL,
	[comorbidComplication3] [char](5) NULL,
	[comorbidComplication4] [char](5) NULL,
	[comorbidComplication5] [char](5) NULL,
	[comorbidComplication6] [char](5) NULL,
	[comorbidComplication7] [char](5) NULL,
	[comorbidComplication8] [char](5) NULL,
	[comorbidComplication9] [char](5) NULL,
	[comorbidComplication10] [char](5) NULL,
	[icdRevisionComorbid] [char](1) NULL,
	[rxDateMostDefinSurg] [varchar](8) NULL,
	[rxDateSurgicalDisch] [varchar](8) NULL,
	[readmSameHosp30Days] [char](1) NULL,
	[rxDateRadiationEnded] [varchar](8) NULL,
	[rxDateSystemic] [varchar](8) NULL,
	[rxSummTransplntEndocr] [char](2) NULL,
	[rxSummPalliativeProc] [char](1) NULL,
	[rxHospPalliativeProc] [char](1) NULL,
	[ruralurbanContinuum1993] [char](2) NULL,
	[ruralurbanContinuum2003] [char](2) NULL,
	[ruralurbanContinuum2013] [char](2) NULL,
	[derivedAjcc7T] [char](3) NULL,
	[derivedAjcc7TDescript] [char](1) NULL,
	[derivedAjcc7N] [char](3) NULL,
	[derivedAjcc7NDescript] [char](1) NULL,
	[derivedAjcc7M] [char](3) NULL,
	[derivedAjcc7MDescript] [char](1) NULL,
	[derivedAjcc7StageGrp] [char](3) NULL,
	[derivedSeerPathStgGrp] [char](5) NULL,
	[derivedSeerClinStgGrp] [char](5) NULL,
	[derivedSeerCmbStgGrp] [char](5) NULL,
	[derivedSeerCombinedT] [char](5) NULL,
	[derivedSeerCombinedN] [char](5) NULL,
	[derivedSeerCombinedM] [char](5) NULL,
	[derivedSeerCmbTSrc] [char](1) NULL,
	[derivedSeerCmbNSrc] [char](1) NULL,
	[derivedSeerCmbMSrc] [char](1) NULL,
	[npcrDerivedAjcc8TnmClinStgGrp] [varchar](15) NULL,
	[npcrDerivedAjcc8TnmPathStgGrp] [varchar](15) NULL,
	[npcrDerivedAjcc8TnmPostStgGrp] [varchar](15) NULL,
	[seerSiteSpecificFact1] [char](2) NULL,
	[seerSiteSpecificFact2] [char](1) NULL,
	[seerSiteSpecificFact3] [char](1) NULL,
	[seerSiteSpecificFact4] [char](1) NULL,
	[seerSiteSpecificFact5] [char](1) NULL,
	[seerSiteSpecificFact6] [char](1) NULL,
	[overRideCs1] [char](1) NULL,
	[overRideCs2] [char](1) NULL,
	[overRideCs3] [char](1) NULL,
	[overRideCs4] [char](1) NULL,
	[overRideCs5] [char](1) NULL,
	[overRideCs6] [char](1) NULL,
	[overRideCs7] [char](1) NULL,
	[overRideCs8] [char](1) NULL,
	[overRideCs9] [char](1) NULL,
	[overRideCs10] [char](1) NULL,
	[overRideCs11] [char](1) NULL,
	[overRideCs12] [char](1) NULL,
	[overRideCs13] [char](1) NULL,
	[overRideCs14] [char](1) NULL,
	[overRideCs15] [char](1) NULL,
	[overRideCs16] [char](1) NULL,
	[overRideCs17] [char](1) NULL,
	[overRideCs18] [char](1) NULL,
	[overRideCs19] [char](1) NULL,
	[overRideCs20] [char](1) NULL,
	[secondaryDiagnosis1] [varchar](7) NULL,
	[secondaryDiagnosis2] [varchar](7) NULL,
	[secondaryDiagnosis3] [varchar](7) NULL,
	[secondaryDiagnosis4] [varchar](7) NULL,
	[secondaryDiagnosis5] [varchar](7) NULL,
	[secondaryDiagnosis6] [varchar](7) NULL,
	[secondaryDiagnosis7] [varchar](7) NULL,
	[secondaryDiagnosis8] [varchar](7) NULL,
	[secondaryDiagnosis9] [varchar](7) NULL,
	[secondaryDiagnosis10] [varchar](7) NULL,
	[schemaId] [char](5) NULL,
	[chromosome1pLossHeterozygosity] [char](1) NULL,
	[chromosome19qLossHeterozygosity] [char](1) NULL,
	[adenoidCysticBasaloidPattern] [char](5) NULL,
	[adenopathy] [char](1) NULL,
	[afpPostOrchiectomyLabValue] [varchar](7) NULL,
	[afpPostOrchiectomyRange] [char](1) NULL,
	[afpPreOrchiectomyLabValue] [varchar](7) NULL,
	[afpPreOrchiectomyRange] [char](1) NULL,
	[afpPretreatmentInterpretation] [char](1) NULL,
	[afpPretreatmentLabValue] [varchar](6) NULL,
	[anemia] [char](1) NULL,
	[bSymptoms] [char](1) NULL,
	[bilirubinPretxTotalLabValue] [char](5) NULL,
	[bilirubinPretxUnitOfMeasure] [char](1) NULL,
	[boneInvasion] [char](1) NULL,
	[brainMolecularMarkers] [char](2) NULL,
	[breslowTumorThickness] [char](4) NULL,
	[ca125PretreatmentInterpretation] [char](1) NULL,
	[ceaPretreatmentInterpretation] [char](1) NULL,
	[ceaPretreatmentLabValue] [varchar](6) NULL,
	[chromosome3Status] [char](1) NULL,
	[chromosome8qStatus] [char](1) NULL,
	[circumferentialResectionMargin] [char](4) NULL,
	[creatininePretreatmentLabValue] [char](4) NULL,
	[creatininePretxUnitOfMeasure] [char](1) NULL,
	[estrogenReceptorPercntPosOrRange] [char](3) NULL,
	[estrogenReceptorSummary] [char](1) NULL,
	[estrogenReceptorTotalAllredScore] [char](2) NULL,
	[esophagusAndEgjTumorEpicenter] [char](1) NULL,
	[extranodalExtensionClin] [char](1) NULL,
	[extranodalExtensionHeadNeckClin] [char](1) NULL,
	[extranodalExtensionHeadNeckPath] [char](3) NULL,
	[extranodalExtensionPath] [char](1) NULL,
	[extravascularMatrixPatterns] [char](1) NULL,
	[fibrosisScore] [char](1) NULL,
	[figoStage] [char](5) NULL,
	[gestationalTrophoblasticPxIndex] [char](2) NULL,
	[gleasonPatternsClinical] [char](2) NULL,
	[gleasonPatternsPathological] [char](2) NULL,
	[gleasonScoreClinical] [char](2) NULL,
	[gleasonScorePathological] [char](2) NULL,
	[gleasonTertiaryPattern] [char](2) NULL,
	[gradeClinical] [char](1) NULL,
	[gradePathological] [char](1) NULL,
	[gradePostTherapy] [char](1) NULL,
	[hcgPostOrchiectomyLabValue] [varchar](7) NULL,
	[hcgPostOrchiectomyRange] [char](1) NULL,
	[hcgPreOrchiectomyLabValue] [varchar](7) NULL,
	[hcgPreOrchiectomyRange] [char](1) NULL,
	[her2IhcSummary] [char](1) NULL,
	[her2IshDualProbeCopyNumber] [char](4) NULL,
	[her2IshDualProbeRatio] [char](4) NULL,
	[her2IshSingleProbeCopyNumber] [char](4) NULL,
	[her2IshSummary] [char](1) NULL,
	[her2OverallSummary] [char](1) NULL,
	[heritableTrait] [char](1) NULL,
	[highRiskCytogenetics] [char](1) NULL,
	[highRiskHistologicFeatures] [char](1) NULL,
	[hivStatus] [char](1) NULL,
	[iNRProthrombinTime] [char](3) NULL,
	[ipsilateralAdrenalGlandInvolve] [char](1) NULL,
	[jak2] [char](1) NULL,
	[ki67] [char](5) NULL,
	[invasionBeyondCapsule] [char](1) NULL,
	[kitGeneImmunohistochemistry] [char](1) NULL,
	[kras] [char](1) NULL,
	[ldhPostOrchiectomyRange] [char](1) NULL,
	[ldhPreOrchiectomyRange] [char](1) NULL,
	[ldhPretreatmentLevel] [char](1) NULL,
	[ldhUpperLimitsOfNormal] [char](3) NULL,
	[lnAssessMethodFemoralInguinal] [char](1) NULL,
	[lnAssessMethodParaaortic] [char](1) NULL,
	[lnAssessMethodPelvic] [char](1) NULL,
	[lnDistantAssessMethod] [char](1) NULL,
	[lnDistantMediastinalScalene] [char](1) NULL,
	[lnHeadAndNeckLevels1To3] [char](1) NULL,
	[lnHeadAndNeckLevels4To5] [char](1) NULL,
	[lnHeadAndNeckLevels6To7] [char](1) NULL,
	[lnHeadAndNeckOther] [char](1) NULL,
	[lnIsolatedTumorCells] [char](1) NULL,
	[lnLaterality] [char](1) NULL,
	[lnPositiveAxillaryLevel1To2] [char](2) NULL,
	[lnSize] [char](4) NULL,
	[lymphocytosis] [char](1) NULL,
	[majorVeinInvolvement] [char](1) NULL,
	[measuredBasalDiameter] [char](4) NULL,
	[measuredThickness] [char](4) NULL,
	[methylationOfO6MGMT] [char](1) NULL,
	[microsatelliteInstability] [char](1) NULL,
	[microvascularDensity] [char](2) NULL,
	[mitoticCountUvealMelanoma] [char](4) NULL,
	[mitoticRateMelanoma] [char](2) NULL,
	[multigeneSignatureMethod] [char](1) NULL,
	[multigeneSignatureResults] [char](2) NULL,
	[nccnInternationalPrognosticIndex] [char](2) NULL,
	[numberOfCoresExamined] [char](2) NULL,
	[numberOfCoresPositive] [char](2) NULL,
	[numberOfExaminedParaAorticNodes] [char](2) NULL,
	[numberOfExaminedPelvicNodes] [char](2) NULL,
	[numberOfPositiveParaAorticNodes] [char](2) NULL,
	[numberOfPositivePelvicNodes] [char](2) NULL,
	[oncotypeDxRecurrenceScoreDcis] [char](3) NULL,
	[oncotypeDxRecurrenceScoreInvasiv] [char](3) NULL,
	[oncotypeDxRiskLevelDcis] [char](1) NULL,
	[oncotypeDxRiskLevelInvasive] [char](1) NULL,
	[organomegaly] [char](1) NULL,
	[percentNecrosisPostNeoadjuvant] [char](5) NULL,
	[perineuralInvasion] [char](1) NULL,
	[peripheralBloodInvolvement] [char](1) NULL,
	[peritonealCytology] [char](1) NULL,
	[pleuralEffusion] [char](1) NULL,
	[progesteroneRecepPrcntPosOrRange] [char](3) NULL,
	[progesteroneRecepSummary] [char](1) NULL,
	[progesteroneRecepTotalAllredScor] [char](2) NULL,
	[primarySclerosingCholangitis] [char](1) NULL,
	[profoundImmuneSuppression] [char](1) NULL,
	[prostatePathologicalExtension] [char](3) NULL,
	[psaLabValue] [char](5) NULL,
	[residualTumVolPostCytoreduction] [char](2) NULL,
	[responseToNeoadjuvantTherapy] [char](1) NULL,
	[sCategoryClinical] [char](1) NULL,
	[sCategoryPathological] [char](1) NULL,
	[sarcomatoidFeatures] [char](3) NULL,
	[schemaDiscriminator1] [char](1) NULL,
	[schemaDiscriminator2] [char](1) NULL,
	[schemaDiscriminator3] [char](1) NULL,
	[separateTumorNodules] [char](1) NULL,
	[serumAlbuminPretreatmentLevel] [char](1) NULL,
	[serumBeta2MicroglobulinPretxLvl] [char](1) NULL,
	[ldhPretreatmentLabValue] [varchar](7) NULL,
	[thrombocytopenia] [char](1) NULL,
	[tumorDeposits] [char](2) NULL,
	[tumorGrowthPattern] [char](1) NULL,
	[ulceration] [char](1) NULL,
	[visceralParietalPleuralInvasion] [char](1) NULL,
	[alkRearrangement] [char](1) NULL,
	[egfrMutationalAnalysis] [char](1) NULL,
	[brafMutationalAnalysis] [char](1) NULL,
	[nrasMutationalAnalysis] [char](1) NULL,
	[ca199PretxLabValue] [varchar](6) NULL,
	[ncdbCovid19TxImpact] [char](1) NULL,
	[macroscopicEvalOfTheMesorectum] [char](2) NULL,
	[derivedRaiStage] [char](1) NULL,
	[p16] [char](1) NULL,
	[lnStatusPelvic] [char](1) NULL,
	[lnStatusParaAortic] [char](1) NULL,
	[lnStatusFemoralInguinal] [char](1) NULL,
	[histologicSubtype] [char](1) NULL,
	[clinicalMarginWidth] [char](4) NULL,
	[brainPrimaryTumorLocation] [char](1) NULL,
	[pathReportingFacId1] [varchar](25) NULL,
	[pathReportingFacId2] [varchar](25) NULL,
	[pathReportingFacId3] [varchar](25) NULL,
	[pathReportingFacId4] [varchar](25) NULL,
	[pathReportingFacId5] [varchar](25) NULL,
	[pathReportNumber1] [varchar](20) NULL,
	[pathReportNumber2] [varchar](20) NULL,
	[pathReportNumber3] [varchar](20) NULL,
	[pathReportNumber4] [varchar](20) NULL,
	[pathReportNumber5] [varchar](20) NULL,
	[pathOrderPhysLicNo1] [varchar](20) NULL,
	[pathOrderPhysLicNo2] [varchar](20) NULL,
	[pathOrderPhysLicNo3] [varchar](20) NULL,
	[pathOrderPhysLicNo4] [varchar](20) NULL,
	[pathOrderPhysLicNo5] [varchar](20) NULL,
	[pathOrderingFacNo1] [varchar](25) NULL,
	[pathOrderingFacNo2] [varchar](25) NULL,
	[pathOrderingFacNo3] [varchar](25) NULL,
	[pathOrderingFacNo4] [varchar](25) NULL,
	[pathOrderingFacNo5] [varchar](25) NULL,
	[pathDateSpecCollect1] [varchar](25) NULL,
	[pathDateSpecCollect2] [varchar](25) NULL,
	[pathDateSpecCollect3] [varchar](25) NULL,
	[pathDateSpecCollect4] [varchar](25) NULL,
	[pathDateSpecCollect5] [varchar](25) NULL,
	[pathReportType1] [char](2) NULL,
	[pathReportType2] [char](2) NULL,
	[pathReportType3] [char](2) NULL,
	[pathReportType4] [char](2) NULL,
	[pathReportType5] [char](2) NULL,
	[rxDateTransplntEndocr] [varchar](8) NULL,
	[rxDateTransplntEndocrFlag] [varchar](2) NULL
) 
