-- Modify it as needed.

CREATE TABLE [database name].[schema name].[NAACCR_ITEM_v25](  -- modify as needed for your system
	[Item_num] [int] NULL,
	[name] [nvarchar](64) NULL,
	[Length] [smallint] NULL,
	[XML_NAACCR_ID] [nvarchar](64) NULL,
	[PARENT_XML_ELEMENT] [nvarchar](32) NULL,
	[Section] [nvarchar](64) NULL,
	[Note] [nvarchar](16) NULL
) ON [PRIMARY]
GO
INSERT [NAACCR].[NAACCR_ITEM_v25] ([Item_num], [name], [Length], [XML_NAACCR_ID], [PARENT_XML_ELEMENT], [Section], [Note]) VALUES (10, N'Record Type', 1, N'recordType', N'NaaccrData', N'Record ID', N'')
INSERT [NAACCR].[NAACCR_ITEM_v25] ([Item_num], [name], [Length], [XML_NAACCR_ID], [PARENT_XML_ELEMENT], [Section], [Note]) VALUES (20, N'Patient ID Number', 8, N'patientIdNumber', N'Patient', N'Record ID', N'')
INSERT [NAACCR].[NAACCR_ITEM_v25] ([Item_num], [name], [Length], [XML_NAACCR_ID], [PARENT_XML_ELEMENT], [Section], [Note]) VALUES (21, N'Patient System ID-Hosp', 8, N'patientSystemIdHosp', N'Tumor', N'Record ID', N'')
GO
